$shadow: 0 25px 30px -10px rgba(53, 49, 84, 0.28);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

* {
  font-family: Montserrat, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1440px;
  margin: 0;
}

.container {
  width: 1120px;
}

/*Header*/

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: white;
  height: 116px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo {
  font-size: 24px;
  font-weight: 750;
  color: rgba(28, 42, 57, 1);
  cursor: pointer;
}

.header-site-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 372px;
  font-weight: bold;
  font-size: 10px;
  padding: 0;
}

.header-li {
  list-style-type: none;
  cursor: pointer;
  a {
    color: rgba(92, 106, 121, 1);
    text-decoration: none;
    font-weight: 700;
  }
  :hover {
    font-weight: 900;
    color: rgba(28, 42, 57, 1);
  }
}

.active-option a {
  font-weight: 900;
  color: rgba(28, 42, 57, 1);
}

.header-icons {
  height: 17px;
  position: relative;
  img {
    padding-left: 40px;
    cursor: pointer;
  }
}

.number-of-books {
  position: absolute;
  background-color: rgba(255, 53, 58, 1);
  color: white;
  font-size: 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  text-align: center;
  margin-left: 151px;
  margin-top: -12px;
}

.not-visible {
  display: none;
}

/*Main*/

main {
  .slider-block {
    background-size: cover;
    height: 702px;
    width: 1120px;
    overflow: hidden;
    margin-top: 116px;
  }
}

.slider-line {
  width: 3360px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.promo-first {
  width: 109px;
  height: 66px;
  padding: 102px 20px 36px;
  margin-top: -620px;
  margin-left: 1060px;
  background-color: rgba(158, 152, 220, 1);
  position: absolute;
  cursor: pointer;
  color: rgba(28, 42, 57, 1);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: $shadow;
  img {
    margin-top: 4px;
  }
}


.promo-second {
  width: 69px;
  height: 88px;
  padding: 149px 47px 36px 21px;
  margin-top: -350px;
  margin-left: 1140px;
  background-color: rgba(255, 143, 230, 1);
  position: absolute;
  cursor: pointer;
  color: rgba(28, 42, 57, 1);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: $shadow;
  img {
    margin-top: 4px;
  }
}

  .points-wrapper {
    margin: 17px auto;
    display: flex;
    justify-content: center;
  }

.point {
  width: 12px;
  height: 12px;
  background: rgba(239, 238, 246, 1);
  border-radius: 50%;
  margin: 4.5px;
  cursor: pointer;
}

.point:hover, .point:active, .active-point {
  background: rgba(158, 152, 220, 1);
}

.second-block {   display: flex; }

nav {
  height: 710px;
  width: 416px;
  background-color: rgba(239, 238, 246, 1);
  margin-left: -160px;
  //display: flex;
  //justify-content: center;
}

.nav-ul {
  margin-left: 120px;
  margin-top: 45px;
}

.nav-li {
  list-style-type: none;
  font-size: 12px;
  color: rgba(92, 106, 121, 1);
  margin-top: 23px;
  cursor: pointer;
  :hover, .active-nav-li {
    color: rgba(28, 42, 57, 1);
  }
}


.nav-link {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
  div {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    margin-left: -10px;
    margin-right: 10px;
  }
}

.active-nav-li {
  font-size: 16px;
  font-weight: bold;
  div {
    background-color: rgba(117, 106, 211, 1);
  }
}

.output {
  display: flex;
  width: 848px + 76px + 76px;
  flex-wrap: wrap;
  margin-left: -120px;
}

.card {
  width: 424px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 56px;
  margin-left: 70px;
  display: flex;
}

.card-image {
  width: 212px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  img {
    width: initial;
    height: 100%;
  }
}

.card-info {
  margin-left: 36px;
  width: 176px;
  height: 203px;
}

.card-info-authors {
  color: rgba(92, 106, 121, 1);
  font-size: 10px;
  margin-bottom: 5px;
}

.card-info-title {
  color: rgba(28, 42, 57, 1);
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.rating {
  display: flex;
  align-items: flex-end;
  margin-top: 1px;
  margin-bottom: 2px;
}

.rating-block-result {
  margin-bottom: 0;
  margin-left: 3px;
  font-size: 10px;
  color: rgba(92, 106, 121, 1);
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: rgba(238, 237, 245, 1);
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgba(242, 201, 76, 1);
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  margin: 0px 1px 0 0;
  height: 100%;
  opacity: 0;
}

.card-block-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgba(92, 106, 121, 1);
  font-size: 10px;
}

.retain-price {
  font-size: 13px;
  font-weight: bold;
}

.button {
  height: 45px;
  width: 176px;
  background-color: white;
  border: 1px solid rgba(76, 61, 178, 1);
  font-size: 8px;
  font-weight: bold;
  color: rgba(76, 61, 178, 1);
  cursor: pointer;
}

.block-show-more{
  display: flex;
  justify-content: center;
  margin-left: 220px;
}

.button-load-more {
  margin-top: 96px - 56px;
  margin-bottom: 50px;
}

.added {
  border: 1px solid rgba(238, 237, 245, 1);
  color: rgba(92, 106, 121, 1);
}
