doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Bookshop
    link(rel='stylesheet' type='text/css' href='main.css')
body
    header.header-block
        div.container
            div.header-logo Bookshop
            ul.header-site-options
                li.header-li.active-option
                    a(href='') BOOKS
                li.header-li
                    a(href='') AUDIOBOOKS
                li.header-li
                    a(href='') STATIONARY &amp; GIFTS
                li.header-li
                    a(href='') BLOG
            div.header-icons
                img(src='../images/user.svg' alt='user')
                img(src='../images/search.svg' alt='search')
                img(src='../images/shop%20bag.svg' alt='shop-bag')
    div.container
        main
            div.slider-block
                div.slider-line
                    img(src='../images/banner 1.png' alt='sale')
                    img(src='../images/banner 2.png' alt='top 10')
                    img(src='../images/banner 3.png' alt='check out')
            a.promo-first(href='') CHANGE <br> OLD BOOK ON NEW
                img(src='../images/arrow.svg' alt='arrow')
            a.promo-second(href='') TOP 100 BOOKS 2022
                img(src='../images/arrow.svg' alt='arrow')
            div.points-wrapper
                div.point.point-first.active-point
                div.point.point-second
                div.point.point-third
            div.second-block
                nav
                    ul.nav-ul
                        li.nav-li
                            a.nav-link.active-nav-li
                                div
                                p Architecture
                        li.nav-li
                            a.nav-link
                                div
                                p Art & Fashion
                        li.nav-li
                            a.nav-link
                                div
                                p Biography
                        li.nav-li
                            a.nav-link
                                div
                                p Business
                        li.nav-li
                            a.nav-link
                                div
                                p Drama
                        li.nav-li
                            a.nav-link
                                div
                                p Fiction
                        li.nav-li
                            a.nav-link
                                div
                                p Food & Drink
                        li.nav-li
                            a.nav-link
                                div
                                p Health & Wellbeing
                        li.nav-li
                            a.nav-link
                                div
                                p History & Politics
                        li.nav-li
                            a.nav-link
                                div
                                p Humor
                        li.nav-li
                            a.nav-link
                                div
                                p Poetry
                        li.nav-li
                            a.nav-link
                                div
                                p Psychology
                        li.nav-li
                            a.nav-link
                                div
                                p Science
                        li.nav-li
                            a.nav-link
                                div
                                p Technology
                        li.nav-li
                            a.nav-link
                                div
                                p Travel & Maps
                div.output
            div.block-show-more
                button.button.button-load-more LOAD MORE
            script(src='main.js')
            script(type="text/javascript" src="https://www.google.com/books/jsapi.js")
